{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <div class = 'pane'>
        <div class = 'header'>
            <h1>The food catalog</h1>
        </div>

        {% if uname != '' %}
        <a href="{{url_for('NewFoodClass') }}" >Create New Foodclass</a>
        {% endif %}

        <div class = 'flash'>
            {% with messages = get_flashed_messages() %}
            {% if messages %}

            <ul>
            {% for message in messages %}
                <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

        </div>


        {% for foodclass in foodclasses %}
        <div class = 'nameAndPrice'>
            <a href="{{url_for('SingleFoodClass', foodclass_id = foodclass.id) }}" class = 'name'><p>{{foodclass.name}}</p></span>
        </div>


        {% endfor %}



    </div>
    </div>
{% endblock %}
