<html>
<head>
    <link rel='stylesheet' href="/static/styles.css">
</head>


<body>
    <div class = 'pane'>
        <div class = 'header'>
            <h1>The food catalog</h1>
        </div>

        <a href="{{url_for('NewFoodClass') }}" >Create New Item</a>


<!--        <div class = 'flash'>
            {% with messages = get_flashed_messages() %}
            {% if messages %}

            <ul>
            {% for message in messages %}
                <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

        </div>
-->

        {% for foodclass in foodclasses %}
        <div class = 'nameAndPrice'>
            <a href="{{url_for('SingleFoodClass', foodclass_id = foodclass.id) }}" class = 'name'><p>{{foodclass.name}}</p></span>
        </div>


        {% endfor %}



    </div>
    </div>
</body>
</html>

