{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <div class = 'pane'>
        <div class = 'header'>
            <h1>{{ foodclass.name }}</h1>
        </div>

        {% if uname != '' %}
        <a href = "{{url_for('newFoodItem', foodclass_id = foodclass.id) }}">Create New Item</a>
        {% endif %}

        {% for i in items %}
        <div class = 'nameAndPrice'>
            <h2>{{i.name}}</h2>
            <div class = 'description'>
                <p>{{i.description}}</p>
            </div>

            <span class = 'price'>Price: {{i.price}} €</span><br>
            <span class = 'typical size'>Typical Size: {{i.typical_size}}</span>
        </div>

        {% if uname != '' %}
        <div class="needToShopField">
            <form action="{{url_for('update_Fooditem', foodclass_id = foodclass.id, FoodItemID = i.id) }}" method = "post">
                <label for="need_to_shop"><p>We need to buy:</p></label>
                <input class="text-right" type ="number"  name="need_to_shop" value="{{i.need_to_shop}}">
                <button type="submit" class="btn-shop btn-default" id="submit" type="submit">update</button>
            </form>

        </div>
        {% else %}
            <span class = 'need-to-shop'><p>We need to buy: {{i.need_to_shop}}</p></span>
        {% endif %}


        {% if uname != '' %}
        <div class = "editdeletepane">

            <a href="{{url_for('editFoodItem', foodclass_id = foodclass.id, FoodItemID = i.id) }}" >Edit</a>
            <a href="{{url_for('deleteFoodItem', foodclass_id = foodclass.id, FoodItemID = i.id) }}" >
            Delete</a>
        </div>
        {% endif %}
        <hr>

        {% endfor %}



    </div>
    </div>
{% endblock %}
