{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <div class = 'pane'>
        <div class = 'header'>
            <h1>{{ foodclass.name }}</h1>
        </div>

        <a href = "{{url_for('newFoodItem', foodclass_id = foodclass.id) }}">Create New Item</a>

        {% for i in items %}
        <div class = 'nameAndPrice'>
            <h2>{{i.name}}</h2>
            <div class = 'description'>
                <p>{{i.description}}</p>
            </div>

            <span class = 'price'>Price: {{i.price}} €</span><br>
            <span class = 'typical size'>Typical Size: {{i.typical_size}}</span>
        </div>



        <div>
            <span class = 'need_to_shop'><p>We need to buy: {{i.need_to_shop}} </p></span>
        </div>

        <div class = "editdeletepane">

            <a href="{{url_for('editFoodItem', foodclass_id = foodclass.id, FoodItemID = i.id) }}" >Edit</a>
            <a href=# >
            Delete</a>
        </div>
        <hr>

        {% endfor %}



    </div>
    </div>
{% endblock %}
